/* 
 * Buttons
*/

.btn {
	font-weight: 400;
	text-align: center;
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.0875) 0 1px 0;

	box-sizing: border-box;
	display: block;
}

.iphone .btn-large {
	font-size: 14px;
	padding: 6px 0;
	min-width: 108px;
}

.ipad .btn-large {
	font-size: 15px;
	padding: 8px 0;
	min-width: 120px;
}

.iphone .btn-mini {
	font-size: 14px;
	padding: 3px 0;
	min-width: 84px;
}

.ipad .btn-mini {
	font-size: 15px;
	padding: 6px 0;
	min-width: 98px;
}

.iphone .btn-nano {
	font-size: 13px;
	padding: 3px 9px;
	min-width: 42px;
}

.ipad .btn-nano {
	font-size: 16px;
	padding: 5px 0;
	min-width: 50px;
}

.btn.primary {
	color: #FFF;
	background: #20c8af;
}

.btn.primary:hover {
	background: #199C89;
}

.btn.important {
	color: #FFF;
	background: #0088CC;
}

.btn.general {
	color: #666;
	text-shadow: none;
	background: #FFF;
	border: 1px solid #BBB;
}

.btn.general._hover {
	background: #DDD;
}

.btn.special {}

.btn.danger {
	color: #FFF;
	background: #FE0202;
}