/* 
 * Buttons
*/

.btn {
	font-weight: 400;
	letter-spacing: 0.02rem;
	/*text-transform: uppercase;*/
	text-align: center;
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.0575) 0 1px 1px;

	box-sizing: border-box;
	display: block;
}

.iphone .btn-large {
	font-size: 15px;
	padding: 6px 0 5px;
	min-width: 108px;
}

.ipad .btn-large {
	font-size: 17px;
	padding: 8px 0 7px;
	min-width: 120px;
}

.iphone .btn-mini {
	font-size: 14px;
	padding: 3px 0 2px;
	min-width: 84px;
}

.ipad .btn-mini {
	font-size: 15px;
	padding: 6px 0 5px;
	min-width: 98px;
}

.iphone .btn-nano {
	font-size: 14px;
	padding: 4px 9px;
	min-width: 42px;
}

.ipad .btn-nano {
	font-size: 16px;
	padding: 6px 11px;
	min-width: 50px;
}

.btn.primary {
	color: #FFF;
	background: #20c8af;
}

.btn.primary:hover {
	background: #199C89;
}

.btn.important {
	color: #FFF;
	background: #04A8FC;
}

.btn.impress {
	color: #FFF;
	background: #F4CD22;
	/*text-shadow: none;*/
}

.btn.general {
	color: #666;
	text-shadow: none;
	background: #FFF;
	border: 1px solid #BBB;
}

.btn.general._hover {
	background: #DDD;
}

.btn.special {}

.btn.danger {
	color: #FFF;
	background: #FE0202;
}