.device.iphone {
	padding: 15px;
}

.document-stream-item {
	padding: 0 0 25px;
}

.item-header-meta-info {
	font-size: 13px;
	height: 40px;
	margin-bottom: 2px;
}

.item-avatar-large {
	float: left;
	width: 40px;
	height: 40px;
	margin: 0 8px 0 0;
}

.item-avatar-large img {
	border-radius: 4px;

	width: 100%;
	height: 100%
}

.item-header-meta-info-inside {
}

.item-action-line {
	height: 18px;
	padding: 2px 0 0;
}

.user-name {
	font-weight: 500;
	color: #005580;
}

.user-verb {
	color: #9B9B9B;
}

.action-time {
	font-size: 11px;
	color: #9B9B9B;
	position: relative;
	top: 2px;
	float: right;
}

.user-action-object {
	font-weight: 500;
	color: #005580;
}

.item-comments-area {
	border-top: 1px solid #E5E5E5;
	padding: 10px 0 0;
	margin: 10px 0 0;
}

.item-comment {
	padding: 5px 0;
}

.item-comment-meta-line {
	height: 28px;
}

.item-avatar-small {
	float: left;
	width: 20px;
	height: 20px;
	margin: 0 8px 0 0;
}

.item-avatar-small img {
	border-radius: 3px;

	width: 100%;
	height: 100%
}

.comment-user-name {
	font-size: 13px;
	color: #005580;
}

.item-comment-content {
	font-size: 14px;
}

/* ----------------------- */

.comment-box {
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	/*height: 30px;*/
	margin: 6px 0 0;
}

.comment-box-text-placeholder {
	color: #DDD;
	display: block;
	padding: 6px 10px;
}