/* Usually you set font-family at one place.
 * If needed, set respectively.
*/

body, input, textarea, button {
	/* Default */
	font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', sans-serif; 

	/* Your own */
	font-family: 'Open Sans', Helvetica, 'Hiragino Sans GB', sans-serif;
}

body {
	/*font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', sans-serif;*/
}

input {
	/*font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', sans-serif;*/
}

textarea {
	/*font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', sans-serif;*/
}

button {
	/*font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', sans-serif;*/
}

.use-float {
	overflow: auto;
}