body {
	background: #434335;

	padding: 0;
	margin: 0;
}

.device {
	background: #FFF;
	background: #F2F2F2;
	box-shadow: rgba(0, 0, 0, 0.25) 0 0 0 7px;

	box-sizing: border-box;
	min-height: 100vh;
	padding: 44px 0;
	margin: 0 auto;
}

.device.iphone {
	width: 320px;
}

.device.ipad {
	width: 768px;
}

.device.ipad.portrait {
	width: 768px;
}

.device.ipad-mini {
	width: 768px;
}

.device.ipad-mini.portrait {
	width: 768px;
}

.device.ipad.landscape {
	width: 1024px;
}

.device.ipad-mini.landscape {
	width: 1024px;
}